body {
    /* uigradients.com */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7); 
    background: linear-gradient(to top, #2c3e50, #bdc3c7); 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen, sans-serif;
    color: white;
    /* This makes the background change smoothly! */
    transition: background 1s;
}

body.fun {
    background: #43C6AC;
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);
    background: linear-gradient(to right, #191654, #43C6AC);
}

#activity {
    margin-top: 0;
    font-size: 1.2rem;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}